body{
	font-size: 16px;
	
	background-color: #fff;
	font-family:  'Oxygen', sans-serif;
}
#header-nav{
	background-color:  yellow;
	border-radius: 0px;
	border: 0px;
	padding-bottom: 0;
	
}


.navbar-brand h1{
	font-family: 'Lora',sans-serif;
	color: black;
	font-size:2em;
	text-transform:uppercase;
	padding-bottom: 10px;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom:0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;

}
 
h2.text-center{
	padding-top: 10px;
	
}
h3.text-center{
	padding-top: 5px;
	
}
#navbarSupportedContent hr{
	width:100%;
	
	background-color: black;
	
	margin: 0;
	padding:0;

}
#navbarSupportedContent{
	background-color: #e6e6e6;
  width: 100vw;
  border-top:1px solid black;
  border-bottom: 1px solid black;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
 
}

}
#nav-list {/**id for the UL used**/
  margin-top: 0px;
}
#nav-list a {/*every link in the UL*/
  color: black;
}
#nav-list a:hover {/*for hovering over the buttons*/
  background: grey;
}
#nav-list a span {/*Text in the list*/
  font-size: 1.8em;
}
div.content-data
{
	margin: 0 auto 10px auto;
	padding:5px; 
	height: 700px;
	background-color: lightgrey;
	text-align: justify;
	border: 2px solid black;
	border-radius: 5px;
	color: black;
	overflow: auto;
}
